body {
    background-color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1.5;
    color: black;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    background-color: rgb(62, 62, 110);
    color: white;
    text-align: center;
    padding-block: 30px;
}

section {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    scroll-margin-inline-start: 5px;
}

p strong {
    color: rgb(224, 23, 23);
}

h2 {
    text-align: center;
}

strong {
    color: brown;
}

.destaque {
    font-style: italic;
}

aside {
    border-radius: 20px;
    padding-inline-start: 30px;
    padding-inline-end: 30px;
    background-color: rgb(125, 125, 161);
    color: black;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
}

main {
    width: 90%;
    margin-inline: auto;
    background-color: rgb(234, 234, 255);
    padding: 10px;
    margin-block-start: 20px;
    border-radius: 20px;
    box-shadow: rgb(62, 62, 110) 0 0 30px;
}

a {
    color: black;

}

a:hover {
    background-color: whitesmoke;
}

footer {
    text-align: center;
}

/* .exemplo {
    text-align: center;
}

.exemplo img {
    transform: scale (0.7);
    transform: rotate(10deg);
    transform: scale(0.7) rotate(10deg) translateY(0);
    transition: 3s;
}

.exemplo img:hover {
    transform: scale(1);
    tansform rotate (0);
    transform: translateY(-100px);
    transform: scale(1) rotate(0) translateY(-100px);
} */

.exemplo-dois {
    text-align: center;
}

.exemplo-dois a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: yellow;
    padding: 4px;
    transition: 2s;
    transform: scale(1);

    /* Necessário para permitir efeito de transformação */
    display: inline-block;
}

.exemplo-dois a:hover {
    background-color: lightblue;
    transform: scale(1.2);

}

/* Regra com CSS Nesting (aninhado) 
Podemos usar este recurso para evitar a necessidade de criar diversas regras baseadas em seletor descentente (ou mesmo múltiplas classes). O nesting permite agrupar regras de um mesmo contexto.
No exemplo abaixo , são regras relacionadas à div com classe exemplo.*/

.exemplo {
    text-align: center;

    img {
        transform: scale(0.7) rotate(10deg) translateY(0);
        transition: 3s;

        &:hover {
            transform: scale(1) rotate(0) translateY(-100px);
        }
    }

    img:hover {
        transform: scale(1) rotate(0) translateY(-100px);
    }
}